<div class="col-md-12" style="text-align: center">
  <h1>New Randomization</h1>
</div>
<br><br><br><br>
<div class="alert alert-info col-md-6 col-md-offset-3">
  In put the players you would like to randomize as well as the races you would like to include in the randomization.
</div>
<br><br><br><br><br><br>
<%= render 'player_form' %>
