<div class="activity">
  <span class="glyphicon glyphicon-search list-icon"></span>

  Found initial block. Beginning randomization.

  <span style="float: right" class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</span>
</div>