<div style="background-color: rgba(0, 168, 255, 0.14);" class="activity">
  <span class="glyphicon glyphicon-btc list-icon"></span>

  Block found!

  <span style="float: right;" class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</span>
</div>