<div class="activity">
  <span class="glyphicon glyphicon-hourglass list-icon"></span>

  No new blocks.

  <span style="float: right" class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</span>
</div>